@import 'scss/config/variables';
@import 'scss/base/base';
// @import 'scss/theme/theme';
@import 'scss/layout/layout';
@import 'scss/components/header';
// @import 'scss/components/home';
// @import 'scss/components/buttons';
// @import 'scss/components/featured';
// @import 'scss/components/story';
// @import 'scss/components/products';
// @import 'scss/components/testimonial';
// @import 'scss/components/new';
// @import 'scss/components/newsletter';
// @import 'scss/components/footer';
// @import 'scss/components/scroll';
// @import 'scss/components/cart';
// @import 'scss/components/breakpoints';
 